{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}BuildAPC - Home{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center h-100">
        <div class="py-5 text-center">
            <h1 class="display-4">Welcome to BuildAPC</h1>
            <p class="lead">Plan and build your perfect PC with ease.</p>
            <a href="/build" class="btn btn-dark btn-lg mt-3">Start Building</a>
        </div>
        <h5>Recommended PC parts</h5>
        <div class="d-flex flex-direction-row gap-5">
            {% for product in products %}
                {% if product.id == 6 or product.id == 10 or product.id == 19 %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('images/' ~ product.category.name ~ '/' ~ product.image ~ '.jpg') }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="#" class="btn btn-primary">Buy product</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
